<form
  id="signInForm"
  class="fixed inset-0 flex items-center justify-center backdrop-blur-xl"
>
  <div class="bg-purple-50 p-6 rounded-lg shadow-lg w-96">
    <h2 class="text-xl font-bold mb-4">Register</h2>
    <div class="mb-2">
      <label class="block text-sm font-medium text-gray-700">Last name</label>
      <input
        required
        type="text"
        id="lastname"
        class="w-full border border-gray-300 rounded p-2"
      />
    </div>
    <div class="mb-2">
      <label class="block text-sm font-medium text-gray-700">First Name</label>
      <input
        required
        type="text"
        id="firstname"
        class="w-full border border-gray-300 rounded p-2"
      />
    </div>
    <div class="mb-2">
      <label class="block text-sm font-medium text-gray-700">Email</label>
      <input
        required
        type="email"
        id="email"
        class="w-full border border-gray-300 rounded p-2"
      />
    </div>
    <div class="mb-2">
      <label class="block text-sm font-medium text-gray-700">Password</label>
      <input
        required
        type="password"
        id="password"
        minlength="8"
        pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).+$"
        class="w-full border border-gray-300 rounded p-2"
      />
    </div>
    <div class="flex justify-between mt-4">
      <button type="submit" class="px-4 py-2 bg-rose-300 text-white rounded">
        Submit
      </button>
      <button
        type="button"
        id="closeForm"
        class="px-4 py-2 bg-teal-300 text-white rounded"
      >
        Close
      </button>
    </div>
  </div>
</form>
